<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="myForm">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="1@1.ru" v-model="email">
            </div>
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input type="text" class="form-control" id="FirstName" placeholder="Dmitry" v-model="firstName">
            </div>
            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input type="text" class="form-control" id="LastName" placeholder="Lavrik" v-model="lastName">
            </div>
            <div class="form-group">
                <label for="Phone">Phone</label>
                <input type="text" class="form-control" id="Phone" placeholder="+79999999999" v-model="phone">
            </div>
            <div class="form-group">
                <label for="Guests">Guests</label>
                <button type="button" class="btn btn-primary" id="Guests" @click="addGuest">+</button>
            </div>
            <div class="form-group" v-for="(guest, index, array) in guests" v-on:dblclick="deleteGuest(guest.id)" :key="index">
                <label>Guest {{ index + 1 }}</label>
                <input type="text" id="addGuest" class="form-control" :placeholder="'Some friend ' + (index + 1)" v-model="guest.name">
            </div>
            <button type="submit" class="btn btn-success">Send Data</button>
        </form>
    </div>
</div>
<script>
    let myForm = new Vue({
        el: '.myForm',
        data: {
            email: "",
            firstName: "",
            lastName: "",
            phone: "",
            globalId: 0,
            guests: [{
                id: 0,
                name: ''
            }]
        },
        methods: {
            addGuest() {
                this.globalId++;

                this.guests.push({
                    name: '',
                    id: this.globalId
                });

                for (guest in this.guests) {
                    console.log(guest);
                }
            },
            deleteGuest(id) {
                console.log(this.guests.find(guest => guest.id === id))
                this.guests.splice(this.guests.map(guest => guest.id).indexOf(id), 1);
            },
        },
    });
</script>
</body>
</html>